/* ====== ESTILO DO FORMULÁRIO ====== */

form {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0px 4px 10 px rgba(0, 64, 128, 0.2)
  text-align: left;
}

/* Labels */

label {
  font-weight: bold;
  display: incline-block;
  margin-bottom: 6px;
  color: #004080;
}

/* Campos */

input, 
select, 
textarea {
  with: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #99ccff;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Checkbox e radio */

input[type="checkbox"],
input[type="radio"] {
  with: auto;
  margin-right: 8px;
}

/* Textarea */

textarea {
  resize: none;
}

/* Botões */

button {
  background: #3399ff;
  color: white;
  border: none;
  padding: 12px 18px;
  margin: 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2673cc;
}


/* Parágrafos do formulário */
form p {
  font-weight: bold;
  margin-bottom: 10px;
  color: 003366;
}
